* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

 .secttion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }


  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0c6b1;
}
.login-box h1 {
    color: #fff;
    font-size: 2em;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #ffff;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    /* transform: translate(-50%); */
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transform: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 1px;
    font-size: 1.2em;
    line-height: 57px;
}
.remmber-forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.remmber-forget label input {
    margin-right: 3px;
}

.remmber-forget a {
    color: #fff;
    text-decoration: none;
}

.remmber-forget a:hover {
    text-decoration: underline;
    color: #121212;
    

}
.continer-log {
    display: flex;
    padding: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}
button:hover {
    background-color: #323a34;
    color: #fff;
}

.regester-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 31px;
}
.regester-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;    
}

.regester-link p a:hover {
    text-decoration: underline;
    color: #121212;
}