* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  h1 {
    color: #323a34;


  }

.login-box {
    position: relative;
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0c6b1;
}
.login-box h1 {
    color: #fff;
    font-size: 2em;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #ffff;
}
.input-box label {
    position: absolute;
    /* top: 70%;
    left: 5px; */

    transform: translate(-60%);
    font-size: 1em;
    color: #323a34;
    pointer-events: none;
    transform: .5s;
}
/* 
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
} */


.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 1px;
    font-size: 1.2em;
    line-height: 57px;
}




.continer-log {
    display: flex;
    padding: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #323a34;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
}
button:hover {
    background-color: #fff;
    color: #323a34;
}

#role {
    border-radius:40px ;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
}